/* Iniciando: Video Responsive */
.video-responsive {
    overflow: hidden;
    padding-bottom: 400px;
    /* Adecua este valor para controlar la altura del video */
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* End: Video Responsive */

.example-btn {
    text-decoration: none;
    margin: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 1em;
    color: #ffffff;
    background-color: #bbaa13;
    border-radius: 6px;
    border: none;
    position: relative;
}

.example-btn:hover {
    color: #f8fdff;
    background-color: #040953;
}